@page "{id:int}"
@model Meum.Pages.Salg.EditSalgModel
@{
}


<h1>Opdatere et salg</h1>

@if (!string.IsNullOrWhiteSpace(@Model.ErrorMessage))
{
    <h2 class="alert-danger">@Model.ErrorMessage</h2>
}

else
{
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label>Varenummer</label>
                    <input type="text" asp-for="@Model.Salg.VareNummer" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Antal</label>
                    <input type="text" asp-for="@Model.Salg.Antal" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" asp-for="@Model.Salg.DateTime" class="form-control" value="06/14/2022"/>
                </div>
                <div class="form-group">
                    <label>Shipped</label>
                    <input type="text" asp-for="@Model.Salg.Shipped" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Opdater Salg" class="btn btn-primary" />
                    <a asp-page="/Salg/SalgListe" class="btn-link">
                        <input value="Tilbage" class="btn btn-primary" />
                    </a>
                </div>
            </form>
        </div>
    </div>
}
